<div class="container text-center">
  <h1>About Us</h1>
  <p>We are a team of students building location aware health emergency solutions for senior citizens.
    Our academic mentors are Professor Xiao, Professor Zhu, and Professor Baurin.</p>
  <p>We are utilizing Estimote proximity beacons to collect accurate location data
  and Fitbit health tracking band to collect
  health data. Our goal is to analyze health data such as heart rate for any abnormal signs and
  proactively suggest senior citizens to take action. Our system will dispatch help in
  case of emergency with health report and accurate location data.</p>
</div>
