<div class="home-callout text-center container-fluid">
  <h1>Welcome to RescueSenior</h1>
  <h3>We are a team of students building location aware health emergency solutions for senior citizens.</h3>
</div>
